<br>
<br>
<br>
<div class="container">
  <mat-toolbar>
    <p>usuarios Tienda Señor Gato</p>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/dashboards/crear-usuario" class="mx-2">Agregar Usuario</button>
    <button mat-raised-button color="primary" (click)="createPDF1()" class="mx-2">PDF</button>
    <button mat-raised-button color="primary" (click)="createExcel()" class="mx-2">Excel</button>
  </mat-toolbar>
  <br>
    <table  class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Sexo</th>
	        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of Empleados; let iControl =index">
          <td>{{empleado.usuario}}</td>
          <td>{{empleado.nombres}}</td>
          <td>{{empleado.apellidos}}</td>
          <td>{{empleado.sexo}}</td>
          <td > <button class="btn btn-danger"  (click)="borrarEmpleados(empleado.id, iControl)">Eliminar</button></td>

        </tr>
      </tbody>
    </table>
    <br>
    <button  mat-raised-button color="primary" (click)="refreshPage()">Actualizar</button>