<br>
<br>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body id="cuerpo">
   <div class="container">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/img2.jpg" class="d-block w-100" height="400" width="200">
          </div>
          <div class="carousel-item">
            <img src="./assets/img3.jpg" class="d-block w-100"  height="400" width="200" >
          </div>
          <div class="carousel-item">
            <img src="./assets/img4.jpg" class="d-block w-100" height="400" width="200">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
      <a routerLink="/dashboards/acercade"><button type="button" class="btn btn-primary" > Acerca de </button> </a>
   </div>
</body>

</html>