<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <div class="container">
            <div class="card-container">
                <div class="card" style="width: 18rem;">
                    <img src="./assets/img6.jpg" >
                    <br>
                      <h5 class="card-title">Maria Alejandra Delgado Ascuntar</h5>
                
                     
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="./assets/img7.jpg" >
                    <br>
                      <h5 class="card-title">Mateo Nicolas Pérez Bastidas</h5>
                      
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="./assets/img8.jpg" >
                    <br>
                    <h5 class="card-title">Frank Dennis Ascuntar Chacua </h5>
                      
                </div> 
                <div class="card" style="width: 18rem;">
                    <img src="./assets/img9.jpg" >
                      <br>
                    <h5 class="card-title">Santiago Alejandro Ortega Mueses</h5>
                      
                </div> 
            </div> 
        </div>
</body>
</html>