<br>
<br>
<br>
<div class="container">
  <mat-toolbar>
    <p>Maquillajes Tienda Señor Gato</p>
    <div class="example-spacer"></div>
    <button mat-raised-button color="primary" routerLink="/dashboards/crear-maquillaje" class="mx-2">Agregar Producto</button>
    <button mat-raised-button color="primary" (click)="createPDF2()" class="mx-2">PDF</button>
    <button mat-raised-button color="primary" (click)="createExcel()" class="mx-2">Excel</button>
  </mat-toolbar>
  <br>
    <table  class="mat-elevation-z8">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Proveedor</th>
	        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maquillaje of Maquillaje; let iControl =index">
          <td>{{maquillaje.id}}</td>
          <td>{{maquillaje.nombre}}</td>
          <td>{{maquillaje.descripcion}}</td>
          <td>{{maquillaje.provedor}}</td>
          <td > <button class="btn btn-danger"  (click)="borrarMaquillaje(maquillaje.id, iControl)">Eliminar</button></td>

        </tr>
      </tbody>
    </table>
    <br>
    <button  mat-raised-button color="primary" (click)="refreshPage()">Actualizar</button>